/* INICIO CSS / HTML */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --corBackground: #FFF6E8;
  --corPrincipal: #FFD188;
  --corFontClara: #FFFFFF;
  --corFontEscura: #000000;
  --alturaRodape: 60px;
  --fontLogo: "Julius Sans One", sans-serif;
  --fontComplementar: "Bellota", system-ui;

  font-family: var(--fontComplementar);
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
    background-color: #FFF6E8;
}